body {
    background: #edeef0;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    }

#wrap {
    width: 1000px;
    margin-top: 90px;
    background: #edeef0;
}
#header {
    text-align: center;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    max-width: 1000px;
    background: #ffffff;
    margin: 0 auto;
    border: 1px solid #cbccce;
}
.sidebar-left {
    background: #edeef0;
    border: 1px solid #cbccce;
    float: left;
    padding: 20px;
    width: 150px;
}
.content {
    background: #ffffff;
    border: 1px solid #cbccce;
    margin: 15px auto;
    padding: 10px;
    overflow: hidden;
    width: 55%;
}
.sidebar-right {
    background: #ffffff;
    border: 1px solid #cbccce;
    float: right;
    padding: 20px;
    width: 150px;
    height: 750px;
}
.footer {
    clear: both!important;
    height: content-box;
    width: 100%;
    max-width: 1000px;
    /*padding: 10px;*/
    margin-top: 10px;
    border: 1px solid #000000;
    background: #cbccce;;
}
h1, h2, h3 {
    font-family: 'Georgia', sans-serif;
    color: indigo;
}
