body {
    background: #edeef0;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    }

#wrap {
    width: 1000px;
    margin-top: 90px;
    background: #edeef0;
}
#header {
    text-align: center;
    position: fixed;
    top: 0;
    height: content-box;
    width: 100%;
    max-width: 1000px;
    background: #ffffff;
    margin: 0 auto;
    border: 1px solid #cbccce;
    box-shadow: 2px 3px 10px #cbccce;

}
.sidebar-left {
    background: #edeef0;
    border: 1px solid #cbccce;
    float: left;
    padding: 20px;
    width: 150px;
}
.content {
    background: #ffffff;
    border: 1px solid #cbccce;
    margin: 15px auto;
    padding: 10px;
    overflow: hidden;
    width: 55%;
}
.sidebar-right {
    background: #ffffff;
    border: 1px solid #cbccce;
    float: right;
    padding: 20px;
    width: 150px;
    height: 750px;
}
.footer {
    clear: both;
    height: content-box;
    width: 100%;
    max-width: 1000px;
    /*padding: 10px;*/
    margin-top: 10px;
    border: 1px solid #000000;
    background: #cbccce;;
}
h2, h3 {
    font-family: 'Georgia', sans-serif;
    color: indigo;
}
@import url(https://fonts.googleapis.com/css?family=Niconne);
h1 {
    font-family: 'Niconne', cursive;
    font-size: 25px;
    color: #e12527;
    text-align: center;
}
h1:before, h1:after {
    content: "\2746";
    display: inline-block;
    font-size: 30px;
    color: #38afaa;
    -webkit-animation: my 4s infinite alternate;
    animation: my 4s infinite alternate;
}
h1:before {
    margin-right: 0.5em;
}
h1:after {
    margin-left: 0.5em;
}
@-webkit-keyframes my {
    0%   {color: #2e2f92;}
    25%  {color: #38afaa;}
    50%  {color: #5b59a7;}
    75%  {color: #f7b21c;}
    100% {color: #e12527;}
}
@keyframes my {
    0%   {color: #2e2f92;}
    25%  {color: #38afaa;}
    50%  {color: #5b59a7;}
    75%  {color: #f7b21c;}
    100% {color: #e12527;}
}
